# Initial population of tracking db

In [14]:
import pandas as pd
from ast import literal_eval

import db_queries

In [15]:
# Load experiments
df_experiments = pd.read_csv('./data/experiments_session01.csv', header=None, sep=';', names=['session_id','experiment_id', 'container_id', 'objects'])
df_experiments['objects'] = df_experiments['objects'].apply(literal_eval)
df_experiments['experiment_id'] = df_experiments['experiment_id'].str.strip()
df_experiments['container_id'] = df_experiments['container_id'].str.strip()
df_experiments

   session_id experiment_id container_id                       objects
0       S0000         E0000      DI_01_b                   [14_1, 2_5]
1       S0000         E0001      CO_01_c                  [13_9, 7_12]
2       S0000         E0002      DI_01_b                 [16_15, 3_12]
3       S0000         E0003      DI_01_b                   [4_9, 12_4]
4       S0000         E0004      C0_01_b                  [15_8, 7_13]
5       S0000         E0005      CO_01_c                  [4_6, 11_15]
6       S0000         E0006      CO_01_a                  [16_9, 14_6]
7       S0000         E0007      DI_01_a  [12_2, 8_3, 1_3, 11_4, 5_12]
8       S0000         E0008      C0_01_b                   [17_5, 3_5]
9       S0000         E0009      CO_01_a                   [16_6, 8_3]
10      S0000         E0010      CO_01_a                   [5_6, 16_4]
11      S0000         E0011      DI_01_a                 [17_5, 13_11]
12      S0000         E0012      C0_01_b                 [11_11, 5_11]
13      S0000         E0013      DI_01_a                   [16_4, 1_3]
14      S0000         E0014      CO_01_a              [16_8, 9_7, 5_4]
15      S0000         E0015      CO_01_a              [5_1, 7_1, 7_11]
16      S0000         E0016      CO_01_a            [16_15, 4_10, 3_9]
17      S0000         E0017      DI_01_b              [3_5, 7_11, 5_2]
18      S0000         E0018      CO_01_c                  [14_6, 11_3]
19      S0000         E0019      CO_01_a                  [14_9, 7_13]
20      S0000         E0020      CO_01_c                 [17_1, 13_5b]
21      S0000         E0021      DI_01_a                  [13_8, 12_4]
22      S0000         E0022      CO_01_a                  [17_6, 4_10]
23      S0000         E0023      DI_01_a                  [17_8, 7_11]
24      S0000         E0024      DI_01_a                  [16_10, 7_9]
25      S0000         E0025      CO_01_c                  [13_8, 7_14]
26      S0000         E0026      CO_01_c                  [8_9, 13_5c]
27      S0000         E0027      DI_01_a                   [8_7, 16_1]
28      S0000         E0028      DI_01_a           [15_10, 5_5, 11_10]
29      S0000         E0029      CO_01_a                   [12_9, 4_2]
30      S0000         E0030      CO_01_a             [14_6, 8_7, 11_3]
31      S0000         E0031      C0_01_b             [5_15, 4_5, 14_8]
32      S0000         E0032      CO_01_a                 [17_7, 16_11]
33      S0000         E0033      CO_01_a                  [4_14, 5_13]
34      S0000         E0034      CO_01_a           [3_15, 15_10, 11_5]
35      S0000         E0035      CO_01_c                  [15_4, 11_4]
36      S0000         E0036      DI_01_a             [5_12, 14_8, 5_2]
37      S0000         E0037      CO_01_a                   [5_6, 16_1]
38      S0000         E0038      CO_01_c                 [12_4, 16_11]
39      S0000         E0039      DI_01_b                 [3_15, 12_8a]

In [16]:
df_experiment_objects = df_experiments[['experiment_id', 'objects']]

## Add a session

In [4]:
# current sessions
db_queries.run_query('SELECT * FROM sessions')

Empty DataFrame
Columns: [note, n_experiments, responsible, start_date, end_date, session_id]
Index: []

In [6]:
# add session to db
db_queries.put_session(session_id = 'S0000', # automatically generated if None
                       n_experiments = len(df_experiments),
                       responsible= 'Roman Studer',
                       note= 'Initial test session. Goal is to test capture software on final setup',
                       start_date = '2023-05-04 00:00:00',
                       end_date = '2023-05-04 23:59:59')

In [7]:
# current sessions
db_queries.run_query('SELECT * FROM sessions')

,note,n_experiments,responsible,start_date,end_date,session_id
0,Initial test session. Goal is to test capture ...,40,Roman Studer,2023-05-04 00:00:00,2023-05-04 23:59:59,S0000

## Add containers

In [8]:
df_containers = pd.DataFrame({'container_id': ['CO-01-a', 'Co-01-b', 'CO-01-c', 'DI-01-a', 'DI-01-b'],
                              'material_type': ['compost', 'compost', 'compost', 'digestive', 'digestive'],
                              'company': [None for i in range(5)],
                              'location': [None for j in range(5)],
                              'note': [None for k in range(5)],
                              'date': [None for l in range(5)]})

df_containers

  container_id material_type company location  note  date
0      CO-01-a       compost    None     None  None  None
1      Co-01-b       compost    None     None  None  None
2      CO-01-c       compost    None     None  None  None
3      DI-01-a     digestive    None     None  None  None
4      DI-01-b     digestive    None     None  None  None

In [9]:
# current containers
db_queries.run_query('SELECT * FROM containers')

  material_type container_id company location  date  note
0       compost      CO-01-a    None     None  None  None
1       compost      Co-01-b    None     None  None  None
2       compost      CO-01-c    None     None  None  None
3     digestive      DI-01-a    None     None  None  None
4     digestive      DI-01-b    None     None  None  None

In [10]:
# add containers to db
db_queries.put_multiple_containers(df_containers)

IntegrityError: UNIQUE constraint failed: containers.container_id

In [ ]:
# current containers
db_queries.run_query('SELECT * FROM containers')

## Add objects

In [ ]:
df_objects = pd.read_excel("Y:\\05_Results\samples\plastic_samples_lab_clean.xlsx", sheet_name="samples", usecols=['locator', 'type', 'length', 'texture', 'stiffness', 'color', 'contamination', 'form', 'note', 'reference_image'])

df_objects.rename(columns={'locator': 'object_id', 'type': 'polymer_type'}, inplace=True)
df_objects

In [ ]:
df_objects.values.tolist()

In [ ]:
# current objects
db_queries.run_query('SELECT * FROM objects')

In [ ]:
# add objects to db
db_queries.put_multiple_objects(df_objects)

In [ ]:
# current objects
db_queries.run_query('SELECT * FROM objects LIMIT 10')

## Add experiments

In [6]:
# current experiments
db_queries.run_query('SELECT * FROM experiments')

Empty DataFrame
Columns: [experiment_id, container_id, n_objects, session_id]
Index: []

In [7]:
df_experiments['n_objects'] = df_experiments['objects'].apply(lambda x: len(x))
df_experiments.drop(columns=['objects'], inplace=True)
df_experiments['experiment_id'] = df_experiments['experiment_id'].str.strip()
df_experiments['container_id'] = df_experiments['container_id'].str.strip()
df_experiments

   session_id experiment_id container_id  n_objects
0       S0000         E0000      DI_01_b          2
1       S0000         E0001      CO_01_c          2
2       S0000         E0002      DI_01_b          2
3       S0000         E0003      DI_01_b          2
4       S0000         E0004      C0_01_b          2
5       S0000         E0005      CO_01_c          2
6       S0000         E0006      CO_01_a          2
7       S0000         E0007      DI_01_a          5
8       S0000         E0008      C0_01_b          2
9       S0000         E0009      CO_01_a          2
10      S0000         E0010      CO_01_a          2
11      S0000         E0011      DI_01_a          2
12      S0000         E0012      C0_01_b          2
13      S0000         E0013      DI_01_a          2
14      S0000         E0014      CO_01_a          3
15      S0000         E0015      CO_01_a          3
16      S0000         E0016      CO_01_a          3
17      S0000         E0017      DI_01_b          3
18      S0000         E0018      CO_01_c          2
19      S0000         E0019      CO_01_a          2
20      S0000         E0020      CO_01_c          2
21      S0000         E0021      DI_01_a          2
22      S0000         E0022      CO_01_a          2
23      S0000         E0023      DI_01_a          2
24      S0000         E0024      DI_01_a          2
25      S0000         E0025      CO_01_c          2
26      S0000         E0026      CO_01_c          2
27      S0000         E0027      DI_01_a          2
28      S0000         E0028      DI_01_a          3
29      S0000         E0029      CO_01_a          2
30      S0000         E0030      CO_01_a          3
31      S0000         E0031      C0_01_b          3
32      S0000         E0032      CO_01_a          2
33      S0000         E0033      CO_01_a          2
34      S0000         E0034      CO_01_a          3
35      S0000         E0035      CO_01_c          2
36      S0000         E0036      DI_01_a          3
37      S0000         E0037      CO_01_a          2
38      S0000         E0038      CO_01_c          2
39      S0000         E0039      DI_01_b          2

In [8]:
df_experiments.columns.tolist() == ['session_id', 'experiment_id', 'container_id', 'n_objects']

True

In [9]:
# add experiments to db
db_queries.put_multiple_experiments(df_experiments)

In [10]:
# current experiments
db_queries.run_query('SELECT * FROM experiments')

   experiment_id container_id  n_objects session_id
0          E0000      DI_01_b          2      S0000
1          E0001      CO_01_c          2      S0000
2          E0002      DI_01_b          2      S0000
3          E0003      DI_01_b          2      S0000
4          E0004      C0_01_b          2      S0000
5          E0005      CO_01_c          2      S0000
6          E0006      CO_01_a          2      S0000
7          E0007      DI_01_a          5      S0000
8          E0008      C0_01_b          2      S0000
9          E0009      CO_01_a          2      S0000
10         E0010      CO_01_a          2      S0000
11         E0011      DI_01_a          2      S0000
12         E0012      C0_01_b          2      S0000
13         E0013      DI_01_a          2      S0000
14         E0014      CO_01_a          3      S0000
15         E0015      CO_01_a          3      S0000
16         E0016      CO_01_a          3      S0000
17         E0017      DI_01_b          3      S0000
18         E0018      CO_01_c          2      S0000
19         E0019      CO_01_a          2      S0000
20         E0020      CO_01_c          2      S0000
21         E0021      DI_01_a          2      S0000
22         E0022      CO_01_a          2      S0000
23         E0023      DI_01_a          2      S0000
24         E0024      DI_01_a          2      S0000
25         E0025      CO_01_c          2      S0000
26         E0026      CO_01_c          2      S0000
27         E0027      DI_01_a          2      S0000
28         E0028      DI_01_a          3      S0000
29         E0029      CO_01_a          2      S0000
30         E0030      CO_01_a          3      S0000
31         E0031      C0_01_b          3      S0000
32         E0032      CO_01_a          2      S0000
33         E0033      CO_01_a          2      S0000
34         E0034      CO_01_a          3      S0000
35         E0035      CO_01_c          2      S0000
36         E0036      DI_01_a          3      S0000
37         E0037      CO_01_a          2      S0000
38         E0038      CO_01_c          2      S0000
39         E0039      DI_01_b          2      S0000

## Populate experiment_objects table

In [17]:
# current experiment_objects
db_queries.run_query('SELECT * FROM experiment_objects LIMIT 10')

Empty DataFrame
Columns: [experiment_id, object_id]
Index: []

In [18]:
# add experiment_objects to db
for i, row in df_experiment_objects.iterrows():
    db_queries.link_experiment_objects(row['experiment_id'], row['objects'])

In [19]:
# current experiment_objects
db_queries.run_query('SELECT * FROM experiment_objects LIMIT 10')

  experiment_id object_id
0         E0000      14_1
1         E0000       2_5
2         E0001      13_9
3         E0001      7_12
4         E0002     16_15
5         E0002      3_12
6         E0003       4_9
7         E0003      12_4
8         E0004      15_8
9         E0004      7_13